
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --background: #fce7f3;
    --nav: #fff;
    --text: black;
    --mainPink: #FF389c;
    --mainGray: #969090;
}
body { 
    width: 100%;
    /* height: 100vh; */
    /* background-color: var(--background) !important; */
    background-color: var(--background) !important;
}
/* ------------------------------------------section navbar------------------------------------- */
.head {
    background-color: var(--nav);
    width: 100%;
    /* position: fixed; */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.head .form-control {
    width: 300px;
}
.nav-half {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
.head .nav-img {
    /* width: 50px; */
    height: 100px;
    /* border-radius: 50%; */
    /* margin-right: 5px; */
}
.navigation {
    margin-top: 3px;
    display: contents;
}
.navigation a {
    color: var(--mainGray);
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
}
.navigation a:hover {
    color: var(--mainPink);
}
.navigation .login {
    /* border: 2px #fff solid; */
    background-color: var(--mainPink);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.navigation .register {
    background-color: var(--mainPink);
    color: #fff;
    /* border: 2px #fff solid; */
    padding: 10px;
    border-radius: 10px;
}
.navigation .logout {
    background-color: var(--mainPink);
    color: #fff;
    /* border: 2px #fff solid; */
    padding: 10px;
    border-radius: 10px;
}
.navigation .login:hover {
    border: 1px var(--mainPink) solid;
    background-color: var(--pink);
    color: var(--mainPink);
    padding: 9px;
}
.navigation .register:hover {
    border: 1px var(--mainPink) solid;
    background-color: var(--pink);
    color: var(--mainPink);
    padding: 9px;
}
.navigation .logout:hover {
    border: 1px var(--mainPink) solid;
    background-color: var(--pink);
    color: var(--mainPink);
    padding: 9px;
}
.button-nav {
    display: flex;
    margin-left: 50px !important;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.logo-clothes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-nav button {
    width: 90px;
    padding: 8px;
    color: #fff;
    border: 2px #fff solid;
}
.nav-half .button-nav .form-control{
    color: var(--mainPink);
    border: 1px var(--mainPink) solid;
}
.nav-half .button-nav .button-search {
    color: var(--mainPink);
    border: 1px var(--mainPink) solid;
}
.nav-half .button-nav .button-search:hover {
    color: var(--nav);
    background-color: var(--mainPink);
}
.highlight {
            border: 2px solid rgb(0, 179, 255);
            padding: 2px;
            border-radius: 4px;
            background-color: rgba(0, 200, 255, 0.177);
        }

@media (min-width: 1201px) {
    .button-nav {
        display: flex;
        margin-left: 15px;
        width: 50%;
    }
    .nav-half {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
    }
    .navigation{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navigation .nav-link{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .head .form-control {
        width: 80%;
}
}
@media (max-width: 1200px) {
    .head {
        background-color: var(--nav);
        width: 100%;
        /* position: fixed; */
        z-index: 999;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    .head .form-control {
        width: 60%;
    }
    .button-nav button {
        width: 80px;
    }
    .nav-half {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }
    .button-nav {
        display: flex;
        margin-left: 0px;
        width: 41%;
    }
    .navigation a {
        color: #fff;
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        padding-left: 0px;
        margin-left: 15px;
    }
    .head .form-control {
        width: 70%;
    }
    .navigation .nav-link{
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 
.head .nav-img {
    width: 200px;
    height: 100px;
    /* border-radius: 50%; */
    /* margin-right: 5px; */
}
 @media (max-width: 800px){
    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .head .form-control{
        padding: 8px;
    }
    /* .fa-bars:before, .fa-navicon:before {
        content: "\f0c9";
        color: #fff;
        font-size: 40px;
    } */
    .nav-half {
        flex-direction: column;
        width: 100%;
    }
    .navigation {
        width: 30%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .navigation .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navigation a {
        display: flex;
        flex-wrap: wrap;
        margin-right: 30px;
        font-size: 25px;
    }
    .button-nav button {
        width: 90px;
        padding: 8px;
        color: #fff;
        border: 2px #fff solid;
    }
    .navigation .login {
        margin-bottom: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navigation .register {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

    }
    .navigation .nav-btn {
        display: flex
;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .button-nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 15px !important;
    }
    .both .hamburger {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
    }
    .both .hamburger i {
        color: var(--mainGray) !important;
        font-size: 40px;
        padding: 5px;        
        margin-top: 10px !important;
        
    }
 
        /* .fa-bars:before, .fa-navicon:before {
        content: "\f0c9";
        font-size: 40px;
        color: var(--mainGray) !important;
        padding: 5px;
    } */
    .nav-half {
        display: none;
    }
    .nav-half.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
        .head .nav-img {
        width: 250px;
        height: 100px;
        /* border-radius: 50%; */
        /* margin-right: 5px; */
    }

    .both{
        display: flex;
        width: 100%;

}
}
/* ------------------------------------------end section navbar------------------------------------- */

/* ------------------------------------------section footer------------------------------------- */
/* .footer {
    background-color: var(--nav) !important;
    color: var(--mainPink);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 20px;
}
.footer-title span {
    color: var(--mainGray);
    margin-top: 10px !important;
}
.ico {
    font-size: 25px;
    color: var(--mainPink);
}
.ico:hover {
    color: rgb(255, 117, 140);
}
.footer .social-icons {
    margin-top: 10px;
}
.social-icons .social{
    color: var(--mainGray);
}
.social-icons .social:hover{
    color: rgb(84, 84, 84);
}
@media (max-width: 700px){
    .footer {
        background-color: var(--nav);
        color: var(--mainPink);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} */
 .footer{
        /* min-height: 100vh; */
        background: var(--nav);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;


}
.footer footer{
        position: relative;
        width: 100%;
        /* height: auto; */
        padding-top: 40px;
        background: var(--nav);
}
.container-footer {
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 12px;
}
.wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
}
.wrapper .footer-widget {
        width: calc(20% - 30px);
        margin: 0 15px 50px ;
        padding: 0 12px ;
}

.wrapper .footer-widget:nth-child(1) {
        width: calc(40% - 50px);
        margin-right: 15px;
}

.wrapper .footer-widget .logo {
        margin-bottom: 30px;
        vertical-align: middle;
       
}
.wrapper .footer-widget p{
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
        color: var(--mainGray);
}
.wrapper .footer-widget .socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
}

.wrapper .footer-widget .socials  li{
        list-style: none;
        
        
}
.wrapper .footer-widget .socials  li a {
        width: 44px;
        height: 44px;
        margin-right: 20px;
        border-radius: 50%;
        font-size: 25px;
        background-color: var(--mainPink);
        color: var(--nav);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-out;
}
.wrapper .footer-widget .socials  li a:hover{
        background: var(--mainGray);
        color: var(--nav);
}

.wrapper .footer-widget h6{
        color: var(--mainPink);
        /* margin: 10px 0 35px 30px; */
        margin: 10px 0 35px 0px;
        font-size: 20px;
        font-weight: 600;
}
.wrapper .footer-widget  .links li {
        list-style: none;
}
.wrapper .footer-widget  .links li a{
        text-decoration: none;
        color: var(--mainGray);
        font-size: 16px;
        text-transform: capitalize;
        line-height: 32px;
        transition: all 0.3s ease-out;
}
.wrapper .footer-widget  .links li  a:hover{
         color: var(--mainPink);
}
.copyright-wrapper{
        padding: 20px 0;
        border-top: 1px solid var(--nav);   
}
.copyright-wrapper .copyright-p{
         color: var(--mainPink);
         font-size: 18px;
         font-weight: 500;
         text-align: center;
}
/* .footer-widget .socials li a i:before, :after {
    --tw-content: "";
    color: var(--nav) !important;
        margin-bottom: 10px;
} */
 
.footer-widget .socials li a i{
    margin-bottom: 8px;
}
@media (max-width:992px) {
        .container-footer{
                 max-width: 960px;
        }
        .wrapper .footer-widget,
         .wrapper .footer-widget:nth-child(1)
        {
                 width: calc(50% - 30px);
        }
}
@media (max-width:768px) {
        .container-footer{
                 max-width: 720px;
        }
        .wrapper .footer-widget,
         .wrapper .footer-widget:nth-child(1)
        {
                 width: 100%;
                 margin: 0 10px 50px ;
        }
        .wrapper .plus{
            text-align: center;
        }
        .wrapper .footer-widget .logo {
            margin-bottom: 30px;
            vertical-align: middle;
            margin-left: 95px;
        }
        .wrapper .footer-widget .socials {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .wrapper .footer-widget .desc {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 24px;
            color: var(--mainGray);
            text-align: center;
        }
        .footer-widget .footer-a {
            color: inherit;
            text-decoration: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        } 
}
/* ------------------------------------------end section footer------------------------------------- */

/* ------------------------------------------ section home ------------------------------------- */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 50px 80px;
}
.home .HPbt{
    width: 100%;
    display: block;
}
.home .HPbt .home-btn1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .home-img{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-left: 20px;
}
.home .home-img .yoga{
    width: 500px;
    height: 500px;
}
.home .HPbt .HP{
    display: block;
    width: 100%;
}
.home .HPbt .HP .H {
    font-size: 70px;
    color: var(--mainPink);
    font-weight: bold;
    width: 100%;
}
.home .HPbt .HP .P {
    font-size: 20px;
    color: var(--mainGray);
    font-weight: bold;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 35px 0px;
}
.home .btn1 {
    background-color: var(--mainPink);
    border: 2px solid #96909078;
    border-radius: 15px;
    color: var(--nav);
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .btn1:hover{
    background-color:var(--nav);
    color: var(--mainPink);
}
/* //Animation */

    /* .home {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .show {
        opacity: 1;
    }
    .HP, .home-btn1, .home-img {
        transform: translateY(100px);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .animate {
        transform: translateY(0);
        opacity: 1;
    }
    .home-img {
        transform: translateX(100px);
    }
    .home-img .animate {
        transform: translateX(0);
    } */


     @keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* تطبيق الأنيميشن */
.home .HPbt .HP .H, .home .HPbt .HP .P {
    animation: slideUp 1s ease-in-out forwards;
}

.home .home-img .yoga {
    animation: slideRight 1s ease-in-out forwards;
}
/* .hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
} */

/* //end animation */
@media (max-width:1200px) {
    .home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 50px 20px;
}
    .home .HPbt .HP .H {
        font-size: 65px;
        color: var(--mainPink);
        font-weight: bold;
        width: 100%;
}
.home .HPbt .HP .P {
    font-size: 25px;
    color: var(--mainGray);
    /* font-weight: bold; */
    width: 100%;
    display: block
;
    align-items: center;
    justify-content: center;
    margin: 35px 0px;
}
.home .btn1 {
    background-color: var(--mainPink);
    border: 2px solid #96909078;
    border-radius: 15px;
    color: var(--nav);
    font-size: 20px;
    padding: 20px 35px;
    cursor: pointer;
    /* margin-top: 40px; */
    font-weight: bold;
    /* margin-left: 25px; */
    text-decoration: none;
    display: flex
;
    align-items: center;
    justify-content: center;
}
}
@media (max-width:1000px) {
    .home{
        flex-direction: column;
    }
    .home .HPbt .HP .H {
        font-size: 65px;
        color: var(--mainPink);
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .home .HPbt .HP .P {
        font-size: 26px;
        color: var(--mainGray);
        width: 100%;
        margin: 35px 0px;
        text-align: center;
    }
    .home .btn1 {
        background-color: var(--mainPink);
        border: 2px solid #96909078;
        border-radius: 15px;
        color: var(--nav);
        font-size: 30px;
        padding: 20px 35px;
        cursor: pointer;
        /* margin-top: 40px; */
        font-weight: bold;
        /* margin-left: 25px; */
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .home .home-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
}
    .home .home-img .yoga {
        width: 600px;
        height: 600px;
    }
}

@media (max-width:500px) {
    .home{
        flex-direction: column;
    }
    .home .HPbt .HP .H {
        font-size: 65px;
        color: var(--mainPink);
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .home .HPbt .HP .P {
        font-size: 26px;
        color: var(--mainGray);
        width: 100%;
        margin: 35px 0px;
        text-align: center;
    }
    .home .btn1 {
        background-color: var(--mainPink);
        border: 2px solid #96909078;
        border-radius: 15px;
        color: var(--nav);
        font-size: 30px;
        padding: 20px 35px;
        cursor: pointer;
        /* margin-top: 40px; */
        font-weight: bold;
        /* margin-left: 25px; */
        text-decoration: none;
        display: flex
;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .home .home-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
}
    .home .home-img .yoga {
        width: auto;
        height: auto;
    }
}
/* ------------------------------------------end section home------------------------------------- */
/* ------------------------------------------ section cards id------------------------------------- */
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: auto;
        margin-bottom: auto;
    }
    .card-container .card-home{   
        width: 300px;
        height: fit-content;
        background-color: var(--nav);
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 8px var(--mainPink);
        margin: 20px;
    }
    .card-container  .card-home:hover{
        transform: scale(1.1);
        transition: all 0.4s;
    }
    .card-container .card-home .card-home-img{
        width: 100%;
        height: 70%;
    }
    .card-container .card-home .card-content{
        padding: 16px;
    }
    .card-container .card-home .card-content .card-home-h3{
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--mainPink);  
    }
    .card-container .card-home .card-content .card-home-p{
        color: var(--mainGray);
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 30px;
    }
/* ------------------------------------------ end section cards id------------------------------------- */

/* ------------------------------------------section clock------------------------------------- */
    .clh .clock{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
     /* min-height: 100vh; */
    }
    .clh #time {
        display: flex;
        gap: 40px;
        color: var(--mainGray);
    }
    .clh #time .circle{
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clh #time .circle svg {
        position: relative;
        width: 150px;
        height: 150px;
        transform: rotate(270deg);
    }
    .clh #time .circle svg circle {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke: black;
        stroke-width: 4;
        transform: translate(5px, 5px);
    }
    .clh #time .circle svg circle:nth-child(2) {
        stroke: var(--clr);
        stroke-dasharray: 440;
    }
    .clh #time div {
        position: absolute;
        text-align: center;
        font-weight: 500;
        font-size: 1.5em;
    }
    .clh #time div  span {
        position: absolute;
        font-size: 0.35em;
        font-weight: 300;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transform: translateX(-50%) translateY(-10px);
    }
    .clh #time .ap {
        position: relative;
        font: 1em;
        transform: translateX(50px);
        transform: translateY(-20px);
    }
    .dots {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .dots::before{
        content: "";
        position: absolute;
        top: -3px;
        width: 15px;
        height: 15px;
        background: var(--clr);
        border-radius: 50%;
        box-shadow: 0 0 20px var(--clr) , 0 0 60px  var(--clr);
    }
/* end clock */
/* *******************************pclk */
    .clh{
        display: flex;
        justify-content: space-evenly;
        flex-direction:column;
        align-items: center;
        margin-top: 70px;
    }
    .clh .clh-p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        color: black;  
        text-align: center;
        font-size: 25px;
    }

    @media (max-width:820px)   {
        .clh .clock {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .clh #time .ap {
            text-align: center;
        }
        .clh .clh-p{
            /* margin-top: 30px;
            margin-left: 10px;
            margin-left: 10px; */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
        .clh #time {
            display: flex;
            gap: 40px;
            color: var(--mainGray);
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
        }
        .clh #time .ap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 35px 0px 0px 0px;
        }
        .clh{
        display: flex;
        justify-content: space-evenly;
        flex-direction:column;
        align-items: center;
        margin-top: 0px;
    }
    }
/* ------------------------------------------end section clock------------------------------------- */

/* ------------------------------------------section swiper------------------------------------- */
    .cloth .slide{
        /* margin-top: 80px; */
        margin-bottom: 30px;
        color: var(--mainPink);
        /* background: #ffd2e8; */
        background: #a3a3a351;
        padding: 35px;
        user-select: none;
        width: 400px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.164);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(30px);
        height: 650px;
    }
    .cloth .slide  img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 2px solid var(--mainPink);
        padding: 3px;
    }
    .cloth .slide h2{
        margin: auto;
        font-size: 3rem;
        color: var(--mainPink);
    }
    .swiper .swiper-pagination-bullet {
        background-color: var(--mainPink);
    }
    .swiper-pagination-bullet-active{
        background-color: var(--mainPink);
    }
    .swiper-pagination-bullet-active {
        background-color: var(--mainPink) !important;
    }
    .swiper .swiper-pagination-bullet {
        background-color: var(--mainPink);
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        color: var(--mainPink) !important;
}
/* ------------------------------------------end section swiper------------------------------------- */
/* ------------------------------------------section view------------------------------------- */

/* .look {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 50px;
         padding: 100px 20px;
}
.look .look-h3 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: var(--mainGray);
    }
.look .btn2{
    background-color: var(--nav);
    border: 2px solid #96909078;
    border-radius: 15px;
    color: var(--mainPink);
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 25px;
}

.look .btn2:hover{
    background-color: var(--mainPink);
    color: var(--nav);
} */

.look {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 50px;
         /* margin-bottom: 100px; */
         padding: 100px 20px;
}
.look h3{
         text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: var(--mainGray);
}
.look .button-look {
        margin-top: 20px;
        padding: 15px 25px;
        font-size: 30px;
        font-weight: 600;
        color: var(--mainPink);
        background-color: var(--nav);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        position: relative;
        transition: transform ease-in 0.1s , box-shadow ease-in 0.25;
        box-shadow: 0 2px 15px #FF389C;
}
.look .button-look:hover{
    color: var(--nav);
        background-color: var(--mainPink);
}

.look .button-look::before , .look .button-look::after  {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;

        


}
.look .button-look::before ,
 .look .button-look::after 
  {
        display: none;
        background-image:
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%, transparent 30%),
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 10% , transparent 15%, transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%),
        radial-gradient(circle, #FF389C 20% , transparent 20%);
        background-size: 10% 10% ,20% 20% ,15% 15% , 20% 20% , 18% 18%, 10% 10% ,15% 15%,10% 10%,18% 18%  ;

}
.look .button-look::before {
        top: -75%; 
}
.look .button-look::after {
        bottom:  -75%; 
}

.look .button-look:active {
         transform: scale(0.9);
         background-color: #FF389C;
         box-shadow: 0 2px 25px #969090;
}

.look .button-look.animate::before 
{
         display: block;
         animation: topBubbles ease-in-out 0.75s forwards;
}

.look .button-look.animate::after
{
         display: block;
         animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
         0% {
                 background-position:
                  5% 90%,
                  10% 90%,
                   10% 90%,
                    15% 90%,
                     25% 90%,
                      25% 90%,
                       40% 90%,
                        55% 90%,
                         70% 90% ;
         }

          50% {
                 background-position:
                  0% 80%,
                  0% 20%,
                   1% 40%,
                    2% 0%,
                     3% 30%,
                      2% 50%,
                       5% 50%,
                        6% 20%,
                         9% 30% ;
         }
          100% {
                 background-position:
                  0% 70%,
                  0% 10%,
                   10% 30%,
                    20% -10%,
                     30% 20%,
                      22% 40%,
                       50% 40%,
                        65% 10%,
                         90% 20% ;

                         background-size:
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0%  ;
         }
}
@keyframes  bottomBubbles {
         0% {
                 background-position:
                  10% 10%,
                  30% 10%,
                   55% 10%,
                    70% 10%,
                     85% 10%,
                      70% 10%,
                       70% 0%
                       ;
         }

          50% {
                 background-position:
                  0% 80%,
                  20% 80%,
                   45% 60%,
                    60% 100%,
                    75% 70%,
                      95% 60%,
                       105% 0%
                        ;
         }
          100% {
                 background-position:
                  0% 90%,
                  20% 90%,
                   45% 70%,
                    60% 110%,
                     75% 80%,
                      95% 70%,
                       110% 10%;

                         background-size:
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0% , 
                         0% 0%  ;
         }
}


@media (max-width:1464px) {
        .look .look-h3 {
         text-align: center;
          
        }
}
@media (max-width:768px) {
        .look .look-h3 {
           margin-left: 70px;
         margin-right: 70px;
         text-align: center;
          
        }
        .look {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 100px 10px;
         margin-top: 0px;
}
}
@media (max-width:377px) {
        .look .look-h3 {
          padding: 20px;
         margin-left: 40px;
         margin-right: 40px;
         text-align: center;
          
        }
        .look {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        padding: 40px 0px 60px 0px;}
}

/* ------------------------------------------end section view------------------------------------- */

/* ------------------------------------------ section map------------------------------------- */
    .map .mapd{
        width: 100%;
        /* margin: 90px auto; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .map .mapp{
        width:50%;
        height: 500px;
        margin-left: 20px;
        /* margin-top: 35px; */
        margin-bottom: 60px;
        margin-top: 40px;
    }
    .map .details {   
        width: 40%;
        /* height: 500px; */
        /* margin: 10px; */
        /* margin-left: 50px; */
        padding: 75px;   
    }
    .map .details .map-h2{
        margin-bottom: 20px;    
    }
    .map .details .map-h3{
        margin-bottom: 20px;
        color:black;
        font-weight: 700;         
    }
    .map .details .inform .map-p{
        margin-bottom: 30px;
        color: var(--mainGray);
    }
    .map .details .inform .map-p i{
        color: var(--mainPink);
        /* margin-right: 7px; */
    }
    @media (max-width:1000px)   {
        .map .mapd .mapp{
            width:90%;
            /* height: 500px; */
            margin-left: 0px;
            /* margin-top: 35px; */
            margin-bottom: 0px;
        }
        .map .mapd .details{
            width: 100%;
            /* height: 500px; */
            text-align: center;
        } 
    }
/* ------------------------------------------end section map------------------------------------- */

/* ------------------------------------------section cards------------------------------------- */


.shose{
       width: 100%;
       /* height: 140vh; */
       /* padding: 25px 0; */
       
}
.shose .box{
       width: 90%;
       margin: 100px auto;
       /* display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr; */
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       grid-gap: 25px ;
}

.shose .box .card {
       width: 290px;
       height:440px;
       box-shadow: 0 0 8px var(--mainPink);
       border-radius: 5px;
       text-align: center;
       background: white;
       padding: 10px 20px;
}
.shose .box .card .small-card{
       display: flex;
       flex-flow: column;
       position: absolute;
       margin: 10px 0;
       transform: translateX(-20px);
       transition: 0.3s;
       opacity: 0;
}
.shose .box .card:hover .small-card{
      transform: translateX(1px);
      cursor: pointer;
      opacity: 1;
}
.shose .box .card .small-card i{
     width: 40px;
     height: 40px;
     border-radius: 5px;
     font-size: 18px;
     margin: 2px 0;
     line-height: 40px;
     border: 2px solid #b2acac;
     transition: 0.2s;
}
.shose .box .card .small-card i:hover{
     color: var(--mainPink);
}
.shose .box .card .image{
      display: flex;
      align-items: center;
      justify-content: center;

}
.shose .box .card .image img{
       width: 150px;
       height: 150px;
       /* margin:15px 0; */
       transition: 0.3s;
}
.shose .box .card:hover .image img{
       transform: scale(1.1);
}

.shose .box .card .product-text h2{
        font-size: 29px;
        margin-top: 15px;

}
.shose .box .card .product-text h3 {
    margin: 15px 0 15px 0;
    font-weight: 700;
    font-size: 35px;
}
.shose .box .card .product-text .products-star {
        color: orange !important;
        /* margin-bottom: 19px !important; */
        cursor: pointer;

}
.shose .box .card .product-text .btn3{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to right , var(--mainPink), #91919191);
    border: 1px solid  #969090;
    font-size: 20px;
    margin-top: 10px;
}
.shose .box .card .product-text .btn3:hover{

    color: var(--mainPink) !important;
    background:  #91919191 !important;
  
}
.head-shose {
      text-align: center;
     color: #FF389C;
    margin-top: 100px;
    font-size: 4em;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    line-height: 1em;   
    overflow: hidden; 
}

.letter {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}

/* ------------------------------------------end section cards------------------------------------- */
/* ------------------------------------------section complete------------------------------------- */
.details-product1{
    position: relative;
    background-color: white;
    padding: 50px;
    width: 80%;
    margin:50px auto ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius:10px;
}
/* //anamtion */
.product1::before ,  .product1::after {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    border-radius:10px;
    background: linear-gradient(45deg,#FF389C,yellow,#FF389C,blue,pink,#969090,#FF389C,hotpink,yellow,#ff00ff
    ,grey,hotpink,#ff00ff,green,#FF389C,#FF389C);
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position:400% 0;
    }
    100%{
        background-position:0 0;
    }
}
.product1::after{
    filter: blur(40px);
}
/* //end animation */
.details-product1 .image-pro1 img {
    width: 70%;
    height: 50%;
    margin-left: 20px;
}
.details-product1 .detail-pro1 {
    width: 50%;
    display: block;
}
.details-product1 .detail-pro1 .p-pro1 {
    color: var(--mainPink);
    font-size: 25px;
    font-weight: bold;
}
.details-product1 .detail-pro1 .product-details2 .p-pro2
{
    color: var(--mainGray);
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}
.details-product1 .detail-pro1 .h2-pro1 {
    color: var(--mainGray);
    font-size: 20px;
    font-weight: bold;
}
.details-product1 .detail-pro1 .h1-pro1 {
    color: var(--mainPink);
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.details-product1 .detail-pro1 .div-select {
    width: 100%;
}
.details-product1 .detail-pro1 .div-select .select-pro1
{
    padding: 10px 20px;
    background:linear-gradient(to right , hotpink, #91919191);
    color: var(--nav);
    border: 2px solid var(--mainPink);
    border-radius: 10px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.details-product1 .detail-pro1 .btn-pro1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.details-product1 .detail-pro1 .btn-pro1 .btn-pro11
{
    padding: 15px 25px;
    color: var(--nav);
    font-size: 20px;
    background:linear-gradient(to right , hotpink, #91919191);
    border-radius: 10px;
    border: 2px solid var(--mainPink); 
}
.details-product1 .detail-pro1 .div-select .select-pro1 option{
    color: var(--mainGray);
}
.details-product1 .detail-pro1 .btn-pro1 .btn-pro11:hover
{
    color:var(--nav) ; 
    background: var(--mainPink);
    border: 2px solid #969090;
}
.details-product1 .detail-pro1 .product-details2 .h3-pro1 {
    margin-top: 20px;
    font-weight: bold;
    color: var(--mainPink);
    font-size: 30px;
}
/* //media for details */
@media (max-width:1400px) {
    .details-product1   .detail-pro1{
        width: 100%;
    }
    .details-product1 .image-pro1 img {
        width: 70%;
    }
}
@media (max-width:1000px) {
    .details-product1{
        flex-direction: column;         
    }
    .details-product1   .detail-pro1{
        text-align: center;
    }
    .details-product1 .image-pro1 img {
        width: 100%;
        margin: 5px auto;
    }
    #details-product1 .product1 .image-pro1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.details-product1 .detail-pro1 .p-pro1 {
    color: var(--mainPink);
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-product1 .detail-pro1 .product-details2{
    width: 100%;
    display: block;
}
.details-product1 .detail-pro1 .product-details2 .p-pro2
{
    color: var(--mainGray);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.details-product1 .detail-pro1 .h2-pro1 {
    color: var(--mainGray);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.details-product1 .detail-pro1 .h1-pro1 {
    color: var(--mainPink);
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-product1 .detail-pro1 .div-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-product1 .detail-pro1 .div-select .select-pro1
{
    padding: 10px 20px;
    background:linear-gradient(to right , hotpink, #91919191);
    color: var(--nav);
    border: 2px solid var(--mainPink);
    border-radius: 10px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.details-product1 .detail-pro1 .btn-pro1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-product1 .detail-pro1 .product-details2 .h3-pro1 {
    margin-top: 20px;
    font-weight: 800;
    color: var(--mainPink);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
}
@media (max-width:768px) {
    .details-product1{
        flex-direction: column;          
    }
    .details-product1   .detail-pro1{
        text-align: center;
    }
    .details-product1 .image-pro1 img {
        width: 100%;
    }
}
@media (max-width:377px) {
    .details-product1{
        flex-direction: column;         
    }
    .details-product1   .detail-pro1{
        text-align: center;
    }
    .details-product1 .image-pro1 img {
        width: 100%;
        margin: 5px auto;
    }
}
/* ------------------------------------------end section complete------------------------------------- */
/* ------------------------------------------section login and register------------------------------------- */
.login{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     /* margin-top: 500px;
     margin-bottom: 500px; */
}
.login  .details-login {
      background:rgba(255, 255,255, 0.2);
      padding: 60px 50px;
      width: 100%;
      max-width: 500px;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      animation: login 4s linear infinite;
}
.login  .details-login::before {
     content: "";
     position: absolute;
     top: -50%;
     left: -50%;
     width: 200%;
     height: 200%;
     background: linear-gradient(60deg,grey,#969090,gray,var(--mainPink),#969090,grey,#969090);
     background-size: 400% 400%;
     z-index: -1;
     filter: blur(30px);
     animation: animatioBorder 10s linear infinite ;
}
@keyframes animatioBorder {
         0%{
                background-position: 0% 50%;
         }
         50%{
                background-position: 100% 50%;
         }
         100%{
                background-position: 0% 50%;
         }
}
@keyframes login{
         0%{
                box-shadow: 0 0 15px #FF389C , 0 0 30px #00f2ff66;
         }
         25%{ 
                box-shadow: 0 0 20px #FF389C , 0 0 35px #00f2ff66;
         }
         50%{
                box-shadow: 0 0 25px #FF389C , 0 0 40px #00f2ff66;
         }
         75%{
                box-shadow: 0 0 20px #FF389C , 0 0 35px #00f2ff66;
         }
         100%{
                box-shadow: 0 0 15px #FF389C , 0 0 30px #00f2ff66;
         }
}
.login  .details-login h2 {
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: black;
     margin-bottom: 36px;
     font-size: 28px;
     text-shadow: 0 0 12px black;
}
.login  .details-login  .input-group  {
    margin-bottom: 36px;
    position: relative;
}
.login  .details-login .input-group input::placeholder{
     color: black;
}
.login  .details-login .input-group input  {
      width: 100%;
      padding: 14px 40px ;
      border:  2px solid #969090;
     /* border-radius: 12px; */
      background: transparent;
      color: black;
      font-size: 16px;
      font-weight: 500;
      transition: 0.3s ;
}
.login  .details-login .input-group input:focus {
     border-color: white;
     outline: none;
     box-shadow: 0 0 12px white;
}
.login  .details-login .input-group i {
     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
     color: black;
     font-size: 16px;
}
.login  .details-login .btn-login {
       width: 100%;
       padding: 16px;
       border: none;
       background: black;
       color: white;
       font-size: 16px;
       font-weight: bold;
       border-radius: 40px;
       cursor: pointer;
       box-shadow: 0 0 18px black;
       transition: 0.3s;     
}
.login  .details-login .btn-login:hover {
      transform: scale(1.03);
       box-shadow: 0 0 30px black;
}
.login  .details-login  .signup-text {
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
font-size: 16px;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login  .details-login  .signup-text a {
     color: white;
     margin-left: 5px;
     text-decoration: none;
}
.login  .details-login  .signup-text a:hover {
     text-decoration: underline;
} 
.items-center {
    align-items: center;
    margin-bottom: 30px;
}
/* ------------------------------------------end section login and register------------------------------------- */


